:host {
  .main-wrapper {
    height: 600px;
    max-height: 95vh;
    max-width: 100vw;
    padding-top: 40px;

    .list-container {
      min-width: 300px;
      min-height: 300px;
      border-radius: 5px;
      border: 1px solid #696969;
    }
    .mat-form-field {
      max-width: 300px;
    }
  }
}
