:host {
  .main-wrapper {
   
    color: #5c2d2d;
    width:90%;
    font-weight: 600;
  }
}


.spinner_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(235, 205, 205, 0.1);
  z-index: 1000 !important;

  & .spinner {
    animation: animate 1.5s linear infinite;
   
    height: 80px;
    width: 80px;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
  }
}
@keyframes animate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(220deg)
  }
}
.spinner:after {
  animation: animate2 1.5s ease-in-out infinite;
  clip: rect(0, 80px, 80px, 40px);
  content: '';
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
}
@keyframes animate2 {
  0% {
    box-shadow: inset #fff 0 0 0 17px;
    transform: rotate(-140deg);
  }

  50% {
    box-shadow: inset #fff 0 0 0 2px;
  }

  100% {
    box-shadow: inset #fff 0 0 0 17px;
    transform: rotate(140deg);
  }
}


.list_header > div {
  text-transform: uppercase;
}
.list_header, .list_row {
  margin: 3px 0;
  background: linear-gradient(to right, #ebd1d1 0%, #ac8bad 83%, #ac8bad 100%);
  /*justify-content: space-between;*/
}

.list_row > div {
  display: flex;
  padding-left: 5px;
  flex: 1 1 20%;
  align-items: center;
}
.arrow_wraper {
  display: flex;
  justify-content: center;
}

.arrow_wraper > button {
  box-shadow: -3px 0 3px rgba(0,0,0,.3);
  border: 1px solid #dee1e6;
  background-color: #fff;

 
  height: 37px;
  width: 21px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.arrow_wraper button:hover {
  box-shadow: 3px 0 3px rgba(0,0,0,.3);
}

.left_btn {
 background-image: url("../../assets/icons/left.png")
}
.right_btn {
  background-image: url("../../assets/icons/right.png")
}
