:host{
  .main-wrapper{
    width:80%;
  }
  table {
    width: 100%;
    background-color: #262626;
    color: #fff;
  }
  .container-fluid {
    width: 95%;
    margin: 0 auto;
  }
  th, td {
    color: #fff;
  }
  mat-paginator {
    background-color: #262626;
    color: #fff;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
  mat-form-field {
    background-color: #262626;
    width: 100%;
    color: #fff;
  }
  input {
    padding-left: 1.5rem;
  }
  ::placeholder {
    color: #fff;
  }
  .search-icon {
    padding-right: 1.5rem;
  }
  .title {
    text-align: center;
    font-size: 2.5rem;
    background-color: #262626;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
    height: 70px;
    padding-top: 30px;
  }
  .languages {
    position: absolute;
    top: 8%;
    left: 90%;
  }
  .nav-link {
    margin-left: 15px;
  }
  .nav-link:hover {
    cursor: pointer;
  }
}
