@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
body{
  padding:0px;
  margin:0px;
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(172,139,173,1) 83%, rgba(172,139,173,1) 100%);
}


app-list {
  width: 800px;
  display:flex;
  justify-content: center;
}



@media only screen and (max-width: 800px) {
  app-list {
    font-size: 14px;
    width: 600px;
  }
}
@media only screen and (max-width: 600px) {
  app-list {
    font-size: 12px;
    width: 450px;
  }
}

@media only screen and (max-width: 450px) {
  app-list {
    font-size: 10px;
    width: 300px;
  }
}
